{% extends "emails/base.html.twig" %}

{% block body %}
    <p><strong>Hi {{ first_name }},</strong></p>

    <p><a href="{{ base_url }}reset-password.php?token={{ password }}&amp;email={{ email }}">Click here to reset your password</a></p>
{% endblock %}