{% extends "emails/base.html.twig" %}

{% block body %}
    <p class="title"><strong>Serious about your advert? Add photos...</strong></p>
    
    <p>Photos can to introduce the accommodation seeker.</p>
    <p>Adverts with photos (and informative descriptions) usually have a <strong>much</strong> better response - and photos can be fun!</p>
    
    <p>To add photos, click &quot;Add photos&quot; (Note: this is an example advert.)</p>
    
    <img src="{{ image_url }}" width="540" height="331" />
{% endblock %}