<div id="logoContainer">
	<div id="logo"><a href="{{ homeURL }}"><img src="images/logo.gif" alt="Christian Flatshare logo (click to return to home page)" width="462" height="71" border="0" /></a></div>
	<div id="iconCanvas">
		<a href="{{ homeURL }}">
			<img src="images/icon-1-over.gif" width="80" height="60" border="0" class="iconOver" />
			<img src="images/icon-1.gif" width="80" height="60" border="0" />
			<div class="iconText">Home page</div>
		</a>
		<a href="countries.php">
			<img src="images/icon-2-over.gif" width="80" height="60" border="0" class="iconOver" />
			<img src="images/icon-2.gif" width="80" height="60" border="0" />
			<div class="iconText">Countries</div>
		</a>
		<a href="contact-us.php">
			<img src="images/icon-3-over.gif" width="80" height="60" border="0" class="iconOver" />
			<img src="images/icon-3.gif" width="80" height="60" border="0" />
			<div class="iconText">Contact us</div>
		</a>
        {% if (loggedIn == false) %}
    		<a href="login.php">
    			<img src="images/icon-4-over.gif" width="80" height="60" border="0" class="iconOver" />
    			<img src="images/icon-4.gif" width="80" height="60" border="0" />
    			<div class="iconText">Register / Login</div>
    		</a>
        {% else %}
    		<a href="your-account-manage-posts.php"> 
    			<img src="images/icon-my-ads-over.gif" width="80" height="60" border="0" class="iconOver" />
    			<img src="images/icon-my-ads.gif" width="80" height="60" border="0" />
    			<div class="iconText">Your ads</div>
    		</a>
	    {% endif %}
	</div>									
</div>
<a name="m"></a>		
<div class="redMenu">
	<ul>
		<li><a href="about-us.php">about Christian Flatshare</a></li>
		<li><a href="what-is-a-christian.php">what is a Christian?</a></li>
		<li><a href="stories.php">CFS Stories</a></li>
		<li><a href="use-cfs-in-your-church.php">use CFS in YOUR church</a></li>
        {% if country == 'GB' %}
		    <li><a href="churches-using-cfs.php?area=Greater%20London#directory">churches using CFS</a></li>
        {% else %}
            <li><a href="churches-using-cfs-intl.php">churches using CFS</a></li>
        {% endif %}
		<li class="noSeparator"><a href="frequently-asked-questions.php">Frequently Asked Questions</a></li>
	</ul>
</div>